<section class="add-blog container">
    <h1 class="entry-title"><span>Dodaj nowy wpis na blogu</span></h1>
    <hr>
    <form class="form-horizontal" method="post" enctype="multipart/form-data" name="addBlogForm" id="addBlogForm">
        <div class="form-group">
            <label class="control-label col-sm-3">Tytuł <span class="text-danger">*</span></label>
            <div class="col-md-8 col-sm-9">
                <input type="text" class="form-control" name="title" id="title" placeholder="Wpisz tytuł"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Treść <span class="text-danger">*</span></label>
            <div class="col-md-8 col-sm-9">
                <textarea class="form-control" name="content" id="content" rows="8" placeholder="Wpisz treść"
                          required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Zdjęcie</label>
            <div class="col-md-8 col-sm-9">
                <input type="file" class="form-control-file" name="image" id="image" accept="image/*">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-10">
                <button type="submit" class="btn btn-primary">Dodaj wpis</button>
            </div>
        </div>
    </form>
</section>
